<div class="container border mb-5 p-4 new-booking">
 <%= simple_form_for([@renting_space, @booking], html: { class: "booking-form" }) do |f| %>
  <%= f.input :start_date, label: "Check in", input_html: { type: "date" } %>
  <%= f.input :end_date, label: "Check out" %>
  <%= f.input :number_of_guests %>
  <%= f.input :number_of_rooms %>
  <%= f.button :submit, "Book your HIVE", class: "btn btn-primary w-100 new-booking-submit" %>
<% end %>
</div>
