
<div class="index-bookings">
  <div class="container">
    <% @bookings.each do |booking| %>
      <div class="card mb-3 m-auto" id="booking-card">
        <div class="row no-gutters">
          <div class="col-md-4">
            <% image_urls = [
                        "place.1.jpg",
                        "place.2.jpg",
                        "place.3.jpg",
                        "place.4.jpg",
                        "place.5.jpg",
                        "place.6.jpg",
                  ] %>
                  <% random_index = rand(image.length) %>
                  <%= image_tag image_urls[random_index], class: "card-img", id: "booking-image" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title"><%= booking.renting_space.name %></h4>
              <p class="card-text">
                <%= booking.renting_space.address %>
              </p>
              <p class="card-text">
                <strong>Check-In: </strong><%= booking.start_date %>
              </p>
              <p class="card-text">
                <p class="card-text"><strong>Check-Out: </strong><%= booking.end_date %></p>
              </p>
              <%=link_to "Cancel booking", new_renting_space_path, class: "btn btn-gradient" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
