<div class="index-renting-space">
  <div class="container">
    <div class="row">
      <div class="cards">

        <% @images.shuffle! %>
        <% @renting_spaces.each_with_index do |renting_space, index| %>
        <div class="card" >
            <%= image_tag @images[index -1]%>

            <div class="card-body">
              <h5 class="card-title"><%= renting_space.name %></h5>
              <p class="card-text mb-1"><i class="fa-solid fa-location-dot"></i> <%= renting_space.address %></p>
              <p class="card-title mt-1"><i class="fa-solid fa-hand-holding-dollar"></i> $<%= renting_space.price%></p>
            </div>
            <a href=<%= renting_space_path(renting_space.id) %> class="btn btn-primary">Show more details</a>
        </div>
        <% end %>
    </div>
  </div>
</div>
</div>
